<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363090369469-119m3u2mp56eh8vcfim4le9i7q5gd67p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363090369469-119m3u2mp56eh8vcfim4le9i7q5gd67p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>363090369469-ia4qp7vajgpjt0ef7c6mpubdf0f7vldg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGCwCLrGFkB0t5MkE_PtTUyWj8CPiTLYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>363090369469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practiceFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>practice-flutter-5b17b</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-flutter-5b17b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363090369469:ios:62e92d75fb1428d07650d4</string>
</dict>
</plist>